<div class="col-sm-4">
    <div class="card">
        <a href="/plan/{{id}}">
            <div class="card-body">
                <h4 class="card-title" id="title1">{{PlanName}}</h4>
                <p class="participants" id="creator1">{{creator}}</p>
                <p class="participants" id="guest1">{{guest}}</p>
                <p class="schedule" id="schedule1">{{schedule}}</p>
                <h5 class="status" id="status1">Status</h5>
                <a href="#" class="btn btn-primary" id="cancel-button">Not feeling it?</a>
            </div>
        </a>
    </div>
</div>
